* {
  margin: 0;
  box-sizing: border-box;
  /* font-size: 70%; */
}
img {
  width: 95%;
  height: 100%;
}
.App {
  height: 100vh;
  background-color: #e2e8ed;
  /* padding: 0.2rem; */
}
.blocks:hover {
  transform: scale(1.03);
  transition: 0.4s ease-out;
}
